---
import type { GetStaticPathsOptions, Page } from 'astro';
import { type CollectionEntry, getCollection } from 'astro:content';
import Pagination from '../../components/Pagination.astro';
import ProjectPreview from '../../components/ProjectPreview.astro';
import siteConfig from '../../data/site-config';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { sortItemsByDateDesc } from '../../utils/data-utils';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
    const projects = (await getCollection('projects')).sort(sortItemsByDateDesc);
    return paginate(projects, { pageSize: siteConfig.projectsPerPage || 6 });
}

type Props = { page: Page<CollectionEntry<'projects'>> };

const { page } = Astro.props;
const portfolio = page.data;
---

<BaseLayout
    title="Portfolio"
    description="Explore a diverse portfolio showcasing my passion and expertise"
    image={{ src: '/dante-preview.jpg', alt: 'The preview of the site' }}
    showHeader={false}
>
    <div class="mb-12 sm:mb-16">
        <h1 class="text-3xl leading-tight font-bold sm:text-5xl mb-12">Projects</h1>
        <div id="projects-container" class="grid grid-cols-1 md:grid-cols-2 gap-6 max-w-4xl mx-auto">
            {
                portfolio.map((project) => (
                    <div class:list={['project-item', 'w-full']}>
                        <ProjectPreview project={project} showThumbnail={true} />
                    </div>
                ))
            }
        </div>
    </div>
    <Pagination page={page} class="mt-16 sm:mt-24" />
</BaseLayout>
